/* .elName {
    font-style: italic;
    font-weight: 600;
    
}

.elValue {
    margin-left: 5px;
    font-weight: bold;
    
} */
.els {

    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10ch, 1fr));	 
    grid-gap: 0;
    width: 81%;
    margin-top: 10px;
    

}

.els .elName {
    grid-column-start: 1;
    font-weight: 400;

}

.els .elValue {
    grid-column-start: span 2;
    font-weight: 600;
}

.els .elRemove {
    grid-column-start: span 2;    
}